/hypr/.config/hypr/modules/colors.lua
/hypr/.config/hypr/modules/colors.lua
/rofi/.config/rofi/colors.rasi
/waybar/.config/waybar/colors.css
/kitty/.config/kitty/matugen.conf
/fish/.config/fish/fish_variables
/fish/.config/fish/fisher/conf.d
/fish/.config/fish/fisher
