#idle_inhibitor,
#custom-nightlight,
#custom-kbd,
#power-profiles-daemon {
	background: @surface_container_high;
	padding: 0 8px;
	border-radius: 10px;
}

#power-profiles-daemon.performance {
	color: @primary;
}
#power-profiles-daemon.default {
	color: @primary;
}
#power-profiles-daemon.balanced {
	color: @tertiary;
}
#power-profiles-daemon.power-saver {
	color: @error;
}
#idle_inhibitor.activated {
	color: @primary;
}

#custom-nightlight.on {
	background: @tertiary;
	color: @surface_container_high;
}
