#network,
#bluetooth,
#battery,
#wireplumber,
#custom-notifications {
	padding: 0 8px;
}

#custom-right,
#custom-round-right {
	font-size: 20px;
	margin: -1px 0; 
}

#custom-round-right {
	color: @surface_container_lowest;
}

#battery {
	background: @surface_container_lowest;
}

#custom-right.bg0 {
	color: @surface_container_lowest;
	background: @surface_container_low;
}

#network {
	background: @surface_container_low;
}

#custom-right.bg1 {
	color: @surface_container_low;
	background: @surface_container;
}

#bluetooth {
	background: @surface_container;
}

#custom-right.bg2 {
	color: @surface_container;
	background: @surface_container_high;
}

#wireplumber {
	background: @surface_container_high;
}

#custom-right.bg3 {
	color: @surface_container_high;
	background: @surface_container_highest;
}

#custom-notifications {
	background: @surface_container_highest;
}

#custom-right.bg4 {
	color: @surface_container_highest;
}
