#network,
#bluetooth,
#battery,
#wireplumber,
#custom-notifications {
	padding: 0 8px;
}

#custom-right,
#custom-round-right {
	font-size: 20px;
	margin: -1px 0; 
}

#custom-round-right {
	color: @surface_container;
}

#battery {
	background: @surface_container;
}

#custom-right.bg0 {
	color: @surface_container;
	background: @surface_container_high;
}

#network {
	background: @surface_container_high;
}

#custom-right.bg1 {
	color: @surface_container_high;
	background: @surface_container_highest;
}

#bluetooth {
	background: @surface_container_highest;
}

#custom-right.bg2 {
	color: @surface_container_highest;
	background: @outline_variant;
}

#wireplumber {
	background: @outline_variant;
}

#custom-right.bg3 {
	color: @outline_variant;
	background: @outline;
}

#custom-notifications {
	background: @outline;
}

#custom-right.bg4 {
	color: @outline;
}
