#network,
#bluetooth,
#battery,
#wireplumber,
#custom-notifications {
	padding: 0 8px;
}

#custom-right,
#custom-round-right {
	font-size: 20px;
	margin: -1px 0; 
}

#custom-round-right {
	font-size: 22px;
}

#custom-round-right {
	color: @secondary_15;
}

#battery {
	background: @secondary_15;
}

#custom-right.bg0 {
	color: @secondary_15;
	background: @secondary_20;
}

#network {
	background: @secondary_20;
}

#custom-right.bg1 {
	color: @secondary_20;
	background: @secondary_25;
}

#bluetooth {
	background: @secondary_25;
}

#custom-right.bg2 {
	color: @secondary_25;
	background: @secondary_30;
}

#wireplumber {
	background: @secondary_30;
}

#custom-right.bg3 {
	color: @secondary_30;
	background: @secondary_35;
}

#custom-notifications {
	background: @secondary_35;
}

#custom-right.bg4 {
	color: @secondary_35;
}
