#custom-round-left,
#custom-left {
	font-size: 20px;
	margin: -1px 0;
}

#custom-round-left {
	color: @secondary_15;
	font-size: 22;
}

#window.class {
	background: @secondary_15;
}

#custom-left.c0 {
	background: @secondary_20;
	color: @secondary_15;
}

#window.prog {
	background: @secondary_20;
}

#custom-left.c1 {
	color: @secondary_20;
}

