#workspaces button {
	color: @on_surface_variant;
	padding: 0 8px;
	background: transparent;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
}

#workspaces button.active {
	border-bottom: 2px solid @primary;
	color: @on_surface
}

#workspaces button:hover {
	border-top: 2px solid @on_surface;
	color: @on_surface;
} 

#workspaces button.urgent {
	background: @error;
}

