#custom-round-left,
#custom-left {
	font-size: 20px;
	margin: -1px 0;
}

#custom-round-left {
	color: alpha(@surface_container_lowest, 0.8);
}

#window.class {
	background: alpha(@surface_container_lowest, 0.8);
}

#custom-left.c0 {
	background: alpha(@surface_container_low, 0.8);
	color: alpha(@surface_container_lowest, 0.8);
}

#window.prog {
	background: alpha(@surface_container_low, 0.8);
}

#custom-left.c1 {
	color: alpha(@surface_container_low, 0.8);
}

