
@import "theme.rasi"

window   { width: 800px; }
mainbox  { children: [ inputbar, listview ]; }
inputbar { children: [ prompt, entry ]; }
entry    { placeholder: "Search clipboard…"; }

textbox  { text-color: @fg-dim; }

listview { lines: 5; }
element  { spacing: 12px; }
element-icon { size: 60px; }
element-text { vertical-align: 0.5; }
