configuration {
	modi: "drun,run";
	show-icons: true;
	icon-theme: "Papirus";
	terminal: "kitty";

	matching: "fuzzy";
	sort: true;
	sorting-method: "fzf";

	drun-display-format: "{name}";
	display-drun: "Apps";
	display-run: "Run";
	display-window: "Windows";
	display-calc: "Calc";
	display-emoji: "Emoji";

	kb-row-tab: "";
	kb-element-next: "";
	kb-element-prev: "";
	kb-mode-next: "Tab";
	kb-mode-previous: "ISO_Left_Tab";
}

@theme "theme"
