@import "theme.rasi"

window { width: 760px; height: 600px; }
mainbox { children: [inputbar, listview]; }
entry { placeholder: "Search wallpapers..."; }

listview {
	columns: 3;
	lines: 3;
	fixed-columns: true;
	fixed-height: true;
	flow: horizontal;
	spacing: 10px;
}

element {
	orientation: vertical;
	padding: 8px;
	spacing: 6px;
	border-radius: 10px;
}

element-icon {
	size: 200px;
	horizontal-align: 0.5;
}
element-text {
	horizontal-align: 0.5;
	font: "JetBrainsMono Nerd Font 9";
}
