@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetsBrainMono Nerf Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: none;
}

window#waybar {
    background: transparent;
    color: @fg;
}


#workspaces button {
	color: @fg-dim;
	padding: 0 8px;
	background: transparent;
}

#workspaces button.active {
	border-bottom: 2px solid @accent;
	color: @fg
}

#workspaces button.urgent {
	background: @critical;
}

#workspaces {
	background: alpha(@bg, 0.8);
	padding: 0 8px;
	border-radius: 80px;
	margin: 0 2px;
}

#custom-winstart,
#custom-winsep,
#custom-winend {
	padding: 0px;
	font-size: 20px;
}
#window.class {
	background: alpha(@accent, 0.8);
	color: @bg-alt;
}
#custom-winsep {
	background: alpha(@bg-alt, 0.8);
	color: alpha(@accent, 0.8);
}
#window.prog {
	background: alpha(@bg-alt, 0.8);
}
#custom-winend {
	color: alpha(@bg-alt, 0.8);
}
#custom-winstart {
	color: alpha(@accent, 0.8);
}

#clock,
#mpris,
#system,
#tray {
	background: alpha(@bg, 0.8);
	padding: 0 22px;
	border-radius: 80px;
	margin: 0 0px;
}

#custom-notifications {
	padding: 0 6px;
}

#system #network,
#system #bluetooth,
#system #battery,
#system #wireplumber,
#system #notifications {
	padding: 0 6px;
}

#battery.warning { color: @warning; }
#battery.critical { color: @critical; }

#network.disconnected { color: @fg-dim; }

#bluetooth.connected { color: @accent; }
#bluetooth.on { color: @fg-dim; }
#mpris.paused { color: @fg-dim; }

tooltip {
	background: @bg;
	border-radius: 8px;
}
