@import "colors.css";
@import "styles/workspaces.css";
@import "styles/work-window.css";
@import "styles/clock-menu.css";
@import "styles/system.css";
@import "styles/battery.css";
@import "styles/network.css";
@import "styles/bluetooth.css";
@import "styles/mpris.css";
@import "styles/wireplumber.css";
@import "styles/notifications.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font Propo", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: none;
}

window#waybar {
    background: transparent;
    color: @on_surface;
}

#workspaces,
#clock,
#mpris,
#tray {
	background: alpha(@secondary_15, 0.8);
	padding: 0 12px;
	border-radius: 80px;
	margin: 0 0px;
}


tooltip {
	background: @secondary_15;
	border-radius: 8px;
}
